<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songbo.filecoincloud.mapper.FccOrderMapper">

    <select id="getByStatus" resultType="com.songbo.filecoincloud.entity.FccOrder">
        select * from fcc_order where fcc_order_status = #{status}
    </select>
</mapper>
